.logout .container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.300);
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.logout button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.logout #yes {
    background-color: #4caf50;
    color: #fff;
}

.logout #yes:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.logout #cancel {
    background-color: #f44336;
    color: #fff;
}

.logout #cancel:hover {
    background-color: #f1382b;
    transform: scale(1.1);
}